<div class="form">
    <form id="contactform">
        <p class="contact">
            <label for="name">Name</label>
        </p>
        <input id="name" name="name" placeholder="First and last name" required="" tabindex="1" type="text">

        <p class="contact">
            <label for="email">Email</label>
        </p>
        <input id="email" name="email" placeholder="example@domain.com" required="" type="email">

        <p class="contact">
            <label for="username">Create a username</label>
        </p>
        <input id="username" name="username" placeholder="username" required="" tabindex="2" type="text">

        <p class="contact">
            <label for="password">Create a password</label>
        </p>
        <input type="password" id="password" name="password" required="" type="text">
        <p class="contact">
            <label for="repassword">Confirm your password</label>
        </p>
        <input type="password" id="password" name="password" required="" type="text">

        <p class="role">
            <label for="password">Select Role</label>
        </p>
        <select class="form-control" ng-model="selectedrole" ng-required="true" name="role" ng-options="role.name for role in roles">
            <option value="" selected>--Select Role--</option>
        </select>
        <br>
        <p class="gender">
            <label for="password">Select Gender</label>
        </p>
        <select class="form-control" ng-model="selectedgender" ng-required="true" name="gender" ng-options="gender.name for gender in genders">
            <option value="" selected>--Select Gender--</option>
        </select>
        <br>
        <br>

        <p class="contact">
            <label for="phone">Mobile phone</label>
        </p>
        <input id="phone" name="phone" placeholder="phone number" required="" type="text">
        <br>
        <input class="buttom" name="submit" id="submit" tabindex="5" value="Sign me up!" type="submit">
    </form>
</div>